- content_for :javascript do
  = javascript_include_tag 'tips/tips'

#tips
  .row-fluid
    .span10
      %h2
        Tips
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Venue
        %th Teams
    %tbody{:'data-bind' => 'foreach: tips'}
      %tr
        %td{:'data-bind' => "text: venue"}
        %td
          %button.btn{:'data-bind' => 'text: home_team, click: selectHome, css: {active:home_selected}'}
          %button.btn{:'data-bind' => 'text: away_team, click: selectAway, css: {active:away_selected}'}
